{% load socialaccount %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <section class="top-of-page">
        <h1 id="main-title">Chat Application</h1>
        <span>Login now for a seamless chat experience.</span>
    </section>
    <form method="POST" class="loginform">
        {% csrf_token %}
        <label for="user" class="user">Username : </label><br>
        <input type="text" name="username"><br>
        <label for="pass" class="pass">Password : </label><br>
        <input type="password" name="password"><br>
        <label for="email" class="email"></label>Email-Id : <br>
        <input type="email" name="emailid"><br>

        <input type="submit" name="Submit">
    </form>
    <a href="{% provider_login_url 'google' %}" class="googleauth">Login with Google</a>
</body>

</html>